@font-face {
  font-family: "iconfont";
  /* Project id 3836635 */
  src: url('//at.alicdn.com/t/c/font_3836635_5tz3dvxcoij.woff2?t=1671718882383') format('woff2'), url('//at.alicdn.com/t/c/font_3836635_5tz3dvxcoij.woff?t=1671718882383') format('woff'), url('//at.alicdn.com/t/c/font_3836635_5tz3dvxcoij.ttf?t=1671718882383') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-records:before {
  content: "\e6a2";
}
.icon-like-round:before {
  content: "\e6a3";
}
.icon-notice-forbid-fill:before {
  content: "\e6a4";
}
.icon-refresh:before {
  content: "\e6a5";
}
.icon-fold:before {
  content: "\e6a6";
}
.icon-phone:before {
  content: "\e6a7";
}
.icon-scan:before {
  content: "\e6a8";
}
.icon-pay:before {
  content: "\e6a9";
}
.icon-filter:before {
  content: "\e6aa";
}
.icon-back:before {
  content: "\e6ab";
}
.icon-settings:before {
  content: "\e6ac";
}
.icon-close:before {
  content: "\e6ad";
}
.icon-at:before {
  content: "\e6ae";
}
.icon-list-right:before {
  content: "\e6af";
}
.icon-cascades:before {
  content: "\e6b0";
}
.icon-share:before {
  content: "\e6b1";
}
.icon-edit:before {
  content: "\e6b2";
}
.icon-date:before {
  content: "\e6b3";
}
.icon-search:before {
  content: "\e6b4";
}
.icon-service:before {
  content: "\e6b5";
}
.icon-sound-fill:before {
  content: "\e666";
}
.icon-round-right-fill:before {
  content: "\e667";
}
.icon-round-right:before {
  content: "\e668";
}
.icon-info:before {
  content: "\e669";
}
.icon-info-fill:before {
  content: "\e66a";
}
.icon-question-fill:before {
  content: "\e66b";
}
.icon-question:before {
  content: "\e66c";
}
.icon-time-fill:before {
  content: "\e66d";
}
.icon-time:before {
  content: "\e66e";
}
.icon-appreciate-light-fill:before {
  content: "\e66f";
}
.icon-appreciate-light:before {
  content: "\e670";
}
.icon-round-transfer-fill:before {
  content: "\e671";
}
.icon-round-transfer:before {
  content: "\e672";
}
.icon-location:before {
  content: "\e673";
}
.icon-location-fill:before {
  content: "\e674";
}
.icon-more-done:before {
  content: "\e675";
}
.icon-more:before {
  content: "\e676";
}
.icon-shop:before {
  content: "\e677";
}
.icon-shop-fill:before {
  content: "\e678";
}
.icon-camera-fill:before {
  content: "\e679";
}
.icon-camera:before {
  content: "\e67a";
}
.icon-round-check:before {
  content: "\e67b";
}
.icon-round-check-fill:before {
  content: "\e67c";
}
.icon-favor:before {
  content: "\e67d";
}
.icon-favor-fill:before {
  content: "\e67e";
}
.icon-notice-fill:before {
  content: "\e67f";
}
.icon-notice:before {
  content: "\e680";
}
.icon-attention-fill:before {
  content: "\e681";
}
.icon-attention:before {
  content: "\e682";
}
.icon-attention-forbid-fill:before {
  content: "\e683";
}
.icon-attention-forbid:before {
  content: "\e684";
}
.icon-video-light-fill:before {
  content: "\e685";
}
.icon-video-light:before {
  content: "\e686";
}
.icon-triangle-down-fill:before {
  content: "\e687";
}
.icon-triangle-up-fill:before {
  content: "\e688";
}
.icon-sponsor-fill:before {
  content: "\e689";
}
.icon-sponsor:before {
  content: "\e68a";
}
.icon-news-hot:before {
  content: "\e68b";
}
.icon-news-hot-fill:before {
  content: "\e68c";
}
.icon-round-close-fill:before {
  content: "\e68d";
}
.icon-round-close:before {
  content: "\e68e";
}
.icon-comment-fill:before {
  content: "\e68f";
}
.icon-comment:before {
  content: "\e690";
}
.icon-delete-fill:before {
  content: "\e691";
}
.icon-delete:before {
  content: "\e692";
}
.icon-notification-fill:before {
  content: "\e693";
}
.icon-notification:before {
  content: "\e694";
}
.icon-like:before {
  content: "\e695";
}
.icon-like-fill:before {
  content: "\e696";
}
.icon-move:before {
  content: "\e697";
}
.icon-cart:before {
  content: "\e698";
}
.icon-add:before {
  content: "\e699";
}
.icon-round:before {
  content: "\e69a";
}
.icon-upload:before {
  content: "\e69b";
}
.icon-profile:before {
  content: "\e69c";
}
.icon-emoji:before {
  content: "\e69d";
}
.icon-location-round:before {
  content: "\e69e";
}
.icon-tis-tag:before {
  content: "\e69f";
}
.icon-taxi:before {
  content: "\e6a0";
}
.icon-pic:before {
  content: "\e6a1";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f7f7;
}
.app-nav-bar {
  background-color: #3296fa;
}
.app-nav-bar .van-nav-bar__title,
.app-nav-bar .van-nav-bar__text,
.app-nav-bar .van-icon {
  color: white;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
